<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClocksSimulator" />
        <binding name="BasicHttpBinding_IATMSimulator" />
        <binding name="BasicHttpBinding_IBankAdministratorSimulator" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62079/WCFServiceIIS.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClocksSimulator"
                contract="ServiceReference1.IClocksSimulator" name="BasicHttpBinding_IClocksSimulator" />
      <endpoint address="http://localhost:62079/WcfServerIIS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IATMSimulator" contract="ServiceReference1.IATMSimulator"
                name="BasicHttpBinding_IATMSimulator" />
      <endpoint address="http://localhost:62079/WcfServerIIS.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBankAdministratorSimulator"
                contract="ServiceReference1.IBankAdministratorSimulator" name="BasicHttpBinding_IBankAdministratorSimulator" />
    </client>
  </system.serviceModel>
</configuration>